<h1>Edit the Chirp</h1>
<% # In our views, render will have rails look in our current directory for a partial called _form %>
<% # We also need to pass in data for the partial %>
<%= render "form", chirp: @chirp, andrew: "awesome" %>